@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

* {
  font-family: "JetBrains Mono", monospace;
}

#profilePhoto {
  width: 70%;
}

.divider {
  background-color: #faebd7;
  height: 3px;
  width: 90%;
  margin: 1rem 5%;
  border-radius: 50px;
}

#tools a {
  margin: 0 5px;
}

#contactme img {
  margin: 0 10px;
}

#contactme img:hover {
  transform: scale(1.2);
}
.row {
  width: 100%;
  padding: 0 20px;
}
.card {
  margin: 20px 5px;
}
.img-project {
  width: 70%;
}

#btn-carru {
  width: 5%;
  margin: 0 0;
}
#carrucont {
  width: 90%;
  margin: 0 0;
}

#containerexp1 {
  background-color: blue;
}
