@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  font-size: 30px;
  scroll-behavior: smooth;
}
.wrapper {
  width: 90%;
  max-width: 1000px;
  overflow: hidden;
  margin: auto;
  margin-top: 50px;
}

body {
  color: #faebd7;
  background-color: #545454;
}

#iam {
  font-size: 70px;
  animation: blink 1s steps(1) infinite;
  border-right: 0.15em solid #faebd7;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1s steps(21) 1s 1 normal both, blink 1s steps(1) infinite;
}
